a{
  text-decoration: none;
}
.background{
  height: 100vh;
  width: 100vw;
  background-image: url("background.png");
  background-size: cover;
}

.iLinks{
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid whitesmoke;
  flex-wrap: wrap;
}

.iLinks h2{
  color: whitesmoke;
  font-size: 1.75em;
  display: flex;
  margin: 1em;
  border: 1px solid whitesmoke;
  border-radius: 0.1em;
  padding: 0.2em;
}
.name{
  margin-top: 4em;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.name h1 {
  color: whitesmoke;
  text-shadow: 3px 3px 3px black;
  font-size: 3em;
  text-align: center;
}
.name h2 {
  color: whitesmoke;
  text-shadow: 3px 3px 3px black;
  font-size: 2em;
  text-align: center;
}

.eLinks{
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 2em;
}
.eLinks a{
  color: whitesmoke;
  font-size: 3em;
  background-color: black;
  border-radius: 0.2em;
}
.eLinks a:hover{
  transform: scale(1.5);
}

.pastProjects{
  height: 100vh;
  width: 100vw;
  background: #B0C3F2;
  display: flex;
  justify-content: space-between;
}
.pProjects{
  height: 70vh;
  width: 70vw;
  align-self: center;
  display: flex;
}
.Arrow{
  align-self: center;
  opacity: 0.8;
}
.Arrow:hover{
  cursor: pointer;
  transform: scale(1.1);
}
.pProjectIMG{
  width: 80vw;
  align-self: center;
}
.pProjectIMG img{
  width: 100%;
  align-self: center;
}
.pProjectIMG img:hover{
  transform: translate(1em, -1em);
}
.pProjectIMG p{
  background-color: whitesmoke;
  padding: 0.5em;
  text-align: justify;
  border-radius: 0.75em;
  margin-top: 1em;
  text-align: center;
}
.displayNone{
  display: none;
}

.skills{
  height: 100vh;
  width: 100vw;
  background: whitesmoke;
}
.skillsSpecfics{
  width: 100%;
  display: inline-flex;
}
.skill_images{
  width: 40%;
  margin-left: 10%;
  margin-top: 5%;
}
.skill_images img{
  width: 24%;
}
.skills img:hover{
  cursor: default;
  transform: rotate(360deg);
  transition: all 0.5s ease-in-out 0s;
  cursor: pointer;, cursor: hand;
}
.skills p{
  width: 80%;
  margin-left: 10%;
  padding-top: 8%;
  text-align: justify;
  color: #B0C3F2;
  font-size: 1.2em;
}
#skill_images_des{
  margin-top: 5%;
  margin-left: 4%;
  width: 35%;
  align-self: center;
  padding-top: 0;
  background-color: #B0C3F2;
  color: #373737;
  padding: 0.75em;
  border-radius: 5px;
  font-style: italic;
}
#scrollToTop{
  position: fixed;
  bottom: 1em;
  right: 1em;
  z-index: 100000;
  font-size: 2.5em;
  color: #777777;
  font-weight: 600;
  transform: scaleX(2.5);
}
